body {
    
}

/*.row {
    display: flex;
    justify-content: center;
}*/

.col-md-12{
    display:flex;
    justify-content:center;
}

.form {
    width: 65%;
    padding: 44px 60px;
    border: 1px solid rgb(228, 225, 225);
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    margin-bottom: 50px;
}

form:hover {
    box-shadow: 1px 1px 5px #82A70C;
}

.form-head {
    letter-spacing: 0px;
    color: #42515f;
    text-transform: uppercase;
    opacity: 1;
}

.form-group{
   display: flex;
   justify-content:flex-start;   
}

.form-group:hover {
    text-shadow: 1px 1px 2px gray;
    font-weight: 500;
}

.control-label{
    width: 20%;
}

.form-control {
    resize: vertical;
    /*    max-width: 55%;
*/
}

.text-danger{
    padding-left: 2px;
    font-size: small;
}

input:invalid{
    border: red 2px solid;
    background-color:red;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom:5px;
}

.btn:hover {
    color: black;
    box-shadow: 0px 0px 10px gray;
    text-shadow:none;
}

/*.nohover {
    pointer-events: none;
}
*/





