@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Welcome to Employee Payroll App</h3>
    <img src="~/Assets/payroll.jpg" height="50%" width="50%"/>
    <br />
    <br />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core" target="_blank">building Web apps with ASP.NET Core</a>.</p>
</div>
