@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Welcome to Employee Payroll App</h3>
    <img src="~/Assets/payroll.jpg" height="36%" width="36%"/>
    <br />
    <br />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
