@model CommonLayer.Models.Employee

@{
    ViewData["Title"] = "Edit";
}

@*<h1>Edit</h1>*@

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" class="form">
            <h4 class="form-head">Edit Employee Details</h4>
            <hr />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmpId" class="control-label"></label>
                <input asp-for="EmpId" class="form-control" readonly/>
                <span asp-validation-for="EmpId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            @*<div class="form-group" style="margin-bottom:0px">
                <label asp-for="ProfileImage" class="control-label"></label>
                <div class="form-group form-control-file">
                <input type="file" asp-for="ProfileImage" class="form-control-file fcf-width" value="choose" />
                <label>( @Html.DisplayFor(model => model.ProfileImage) )</label>
                </div>
                <span asp-validation-for="ProfileImage" class="text-danger"></span>
            </div>*@
             <div class="form-group">
                <label for="ProfileImage" class="control-label">Profile Image</label>
                <div class="form-control-file">
                    <label asp-for="ProfileImage">
                        <input type="radio" asp-for="ProfileImage" value="~/Assets/profile-images/No_Profile.png" required>
                        <img class="profile" id="NoProfile" src="~/Assets/profile-images/No_Profile.png">
                    </label>
                    <label asp-for="ProfileImage">
                        <input type="radio" asp-for="ProfileImage" value="~/Assets/profile-images/Ellipse -1.png" required>
                        <img class="profile" id="image1" src="~/Assets/profile-images/Ellipse -1.png">
                    </label>
                    <label asp-for="ProfileImage">
                        <input type="radio" asp-for="ProfileImage" value="~/Assets/profile-images/Ellipse -2.png" required>
                        <img class="profile" id="image2" src="~/Assets/profile-images/Ellipse -2.png">
                    </label>
                    <label asp-for="ProfileImage">
                        <input type="radio" asp-for="ProfileImage" value="~/Assets/profile-images/Ellipse -3.png" required>
                        <img class="profile" id="image3" src="~/Assets/profile-images/Ellipse -3.png">
                    </label>
                    <label asp-for="ProfileImage">
                        <input type="radio" asp-for="ProfileImage" value="~/Assets/profile-images/Ellipse -4.png" required>
                        <img class="profile" id="image4" src="~/Assets/profile-images/Ellipse -4.png">
                    </label>
                    <label asp-for="ProfileImage">
                        <input type="radio" asp-for="ProfileImage" value="~/Assets/profile-images/Ellipse -5.png" required>
                        <img class="profile" id="image5" src="~/Assets/profile-images/Ellipse -5.png">
                    </label>
                    <label asp-for="ProfileImage">
                        <input type="radio" asp-for="ProfileImage" value="~/Assets/profile-images/Ellipse -7.png" required>
                        <img class="profile" id="image6" src="~/Assets/profile-images/Ellipse -7.png">
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                @*<select asp-for="Gender" id="Gender" name="Gender" required>
                        <option value="">Gender</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                </select>*@
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dept" class="control-label"></label>
                <input asp-for="Dept" class="form-control" />
                <span asp-validation-for="Dept" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Startdate" class="control-label"></label>
                <input type="date" asp-for="Startdate" class="form-control" />
                <span asp-validation-for="Startdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <textarea asp-for="Notes" class="form-control" ></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <br />
            <div class="buttons">
                <input type="submit" value="Save" class="btn btn-primary"/>
                <a asp-action="Index" class="btn btn-primary tolist-button">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
